* {
  margin: 0;
}

body {
  background-color: #EEEEEE;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #EEEEEE;
  padding: 20px;
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 0.1em;
}

.app__dropdown {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

}

.app__header > h1 {
  color: #332d2d;
  font-size: 1.3rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}
.app__right {
  margin-top: 3%;
}
.app__vaccines {
  margin-top: 5%;
}

.app__information > h3 {
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  
  .image {
    width: 100%;
  }
}